<!DOCTYPE html>
<html>
	<head>
		<title><%= title%></title>
		<link rel='stylesheet' href='/stylesheets/style.css' />
	</head>

	<body>
		<h1><%= title%> <h1>

		<p> </p>

<form>
<button type="submit" formaction="/cmd/sh on_off.sh">Tv On/Off</button>

<button type="submit" formaction="/cmd/sh ch_up.sh">Channel Up</button>
<button type="submit" formaction="/cmd/sh ch_down.sh">Channel Down</button>

<button type="submit" formaction="/cmd/sh v_up.sh">Volumn Up</button>
<button type="submit" formaction="/cmd/sh v_down.sh">Volumn Down</button>

</form>

</body>
</html>
